body {
    margin: 0;
    padding: 0;
}
.panel {
	background-color: #dedede;
	color: #ccc;
	font-family: Helvetica, Arial;
	font-size: 12px;
	width: 200px;
	position: absolute;
    opacity: 0.7;
    color: #000;
}
.panel form, .panel ul {
	margin: 10px;
}
.panel ul {
    list-style: none;
    padding: 0;
}
.panel ul li {
    padding: 5px 8px;
    background-color: #fff;
    margin-bottom: 4px;
    cursor: pointer;
}
.panel ul li.selected {
    border: 1px solid red;
    color: red;
}
.panel form label {
    display: block;
}
.panel form input, .panel form button, .panel form select {
    width: 100%
}
.panel form select option {
    color: white;
}
.panel form input[name=speedX],
.panel form input[name=speedY],
.panel form input[name=x],
.panel form input[name=y] {
    width: 75px;
}
.panel .expandable {
    display: none;
    width: 154px;
}
.panel .more {
    float: right;
}
svg circle {
    cursor: pointer;
}